*{
    margin: 0;
    padding: 0;
}

.header{
    background-color: #EAF3FA;
    width: 100%;
    height: 600px;
}

.navbar {
    overflow: hidden;
    display: inline;
    background-color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
  
.navbar-item {
    text-align: center;
    color: #192D50;
    font-size: 18px;
    display:inline-flex;
    padding: 14px 30px;
    text-decoration: none;
}

.navbar-item-span {
    text-align: center;
    color: #192D50;
    font-size: 18px;
    display:inline-flex;
    padding: 14px 30px;
    text-decoration: none;
    margin-left: 90px;
}
  
.navbar-item:hover, .navbar-item-span:hover {
    /* background-color: #FA9746; */
    /* color: white; */
    text-decoration: none;
    color: #EAF3FA;
    font-size: 18px;
    transition: 0.3s ease-in;
    /* border-radius: 50px; */
}

/* .navbar-item:focus{
    background-color: #FA9746;
    color: white;
    text-decoration: none;
    border-radius: 50px;
} */

.navbar .logo img{ 
    position:absolute;
    height: 90px;
    width: 165px;
}

.navbar .logo{
    padding-left: 40px;
}

.navbar-items{
    position: absolute;
    margin-left: 500px;
    padding-top: 20px;
}

.custom-shape-divider-top-1612286857 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1612286857 svg {
    position: relative;
    display: block;
    width: calc(214% + 1.3px);
    height: 500px;
    transform: rotateY(180deg);
}

.custom-shape-divider-top-1612286857 .shape-fill {
    fill: #8CB3F4;
}

.home-img {
    margin-left: 660px;
    margin-top: 190px;
    height: 450px;
    width: 650px;
    position: absolute;
}

.join {
    position: absolute;
    margin-top: 440px;
    margin-left: 260px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #192D50;
    font-size: 20px;
    
}

.join button {
    height: 50px;
    width: 100px;
    border-radius: 50px;
    background-color: #FA9746;
    outline: none;
    border-style: none;
    color: white;
    font-size: 18px;
}

.join .join-button{
    margin-left: 90px;
}

.post {
    display: inline-block;
    list-style: none;
    width: 350px;
    height: 250px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 20px;
    font-size: 16px;
    margin: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 10px;
}

.post h4 {
    text-align: center;
}

.post a {
    text-decoration: none;
    color: #192D50;
}

.post-img {
    fill: #2B468B;
    height: 150px;
    width: 150px;
    padding-top: 5px;
}

.location-icon {
    fill: #FA9746;
    height: 25px;
    width: 25px;
    margin-left: 60px;
    margin-right: 5px;
}

.major-icon {
    fill: #FA9746;
    height: 25px;
    width: 25px;
    margin-left: -18px;
    margin-right: 5px;
}

h5{
    text-align: left;
}

.time {
    text-align: left;
    font-weight: bold;
    padding-top: 20px;
}

.time span {
    padding-right: 10px;
}

.job-posts {
    padding-top: 45px;
    padding-left: 30px;
}

ul {
    display: flex;
    flex-flow: wrap;
    width: 1200px;
    margin-left: 90px;
}

.job-content {
    background-color:#FA9746;
    outline: none;
    color: white;
    border: none;
    border-radius: 10px;
    height: 50px;
    width: 150px;
    cursor: pointer;
    font-size: 16px;
}

.post-content{
    padding: 15px;
}

.post-content h5 {
    padding-top: 25px;
}

.descrption {
    text-align: left;
    padding-top: 5px;
}

.job-link {
    color:#2B468B;
    font-size: 18px;
    text-decoration: none;
    display: inline-flex;
    margin-right: -60%;
}

/* .search-box input{
    width: 500px;
    height: 50px;
    border-radius: 10px;
    border-style: none;
    background-color: #EAF3FA;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    font-size: 20px;
    outline: none;
} */

.search-box {
    background-color: #EAF3FA;
    width: 800px;
    height: 50px;
    border-radius: 35px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 10px;
    display: flex;
}

.search-box span {
    color: #2B468B;
    margin-top: 13px;
}

.search-box .input {
    outline: none;
    font-size: 20px;
    width: 400px;
    height: 100%;
    position: relative;
    border: 0;
    background-color: #EAF3FA;
    color: #192D50;
    padding-left: 10px;
}

.search-box .dropdown {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #192D50;
    padding-top: 15px;
    padding-left: 20px;
    width: 100px;
    border-right: 1px solid #2B468B;
    cursor: pointer;
}

.search-box .dropdown .city-form {
    display: none;
    position: absolute;
    background: #EAF3FA;
    width: 250px;
    height: 80px;
    padding: 15px;
    border-radius: 5px;
    margin-top: 20px;
    margin-left: -8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.search-box .dropdown .city-form input {
    margin-left: 10px;
    border-radius: 5px;
    height: 30px;
    width: 180px;
    border: 1px solid #2B468B;
    outline: none;
    border-style: solid;
}

.search-box .dropdown .city-form button {
    outline: none;
    background-color: #FA9746;
    color: white;
    border: none;
    border-radius: 10px;
    height: 30px;
    width: 60px;
    margin-top: 20px;
    margin-left: 35%;
}

.search-box .dropdown2 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #192D50;
    padding-top: 15px;
    padding-left: 20px;
    width: 100px;
    cursor: pointer;
}

.search-box .dropdown ul, .search-box .dropdown2 ul{
    display: none;
    position: absolute;
    background: #EAF3FA;
    width: 140px;
    border-radius: 5px;
    margin-top: 20px;
    margin-left: -8px;
    padding-left: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.search-box .dropdown ul li, .search-box .dropdown2 ul li {
    padding-bottom: 10px;
    list-style: none;
    height: 100%;
    width: 100%;
    padding-top: 10px;
}

.search-box .dropdown ul li:hover, .search-box .dropdown2 ul li:hover {
    color: #FA9746;
}

.search-box .dropdown:hover ul, .search-box .dropdown2:hover ul, .search-box .dropdown:hover .city-form{
    display: block;
}

.search-box .dropdown::before, .search-box .dropdown2::before {
    content: "";
    position: absolute;
    margin-left: 75px;
    margin-top: 6px;
    border: 8px solid;
    border-color: #2B468B transparent transparent transparent;
}

.search-box .search-icon {
    color: #192D50;
    padding-top: 10px;
    width: 44px;
    height: 44px;
}

.search {
    margin-left: 22%;
    padding-top: 30px;
}

.shape-footer{
    transform: rotateX(180deg);
}

.footer-content{
    position: absolute;
    z-index: 2;
    margin-top: 100px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
    color: #192D50;
    margin-left: 40%;
    display: inline-flex;
}

.footer-content span{
    padding-left: 10px;
    text-decoration: none;
    color: #192D50;
}

.footer-content span:hover{
    color: #EAF3FA;
    transform: scale(1.1);
    transition: 0.3s ease-in;
}