* {
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 400;
    box-sizing: border-box;
  }
  
  
  /* SCROLL BAR */
  ::-webkit-scrollbar {
    width: 0px;
    background: transparent;
  }
  
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  
  ::-webkit-scrollable-thumb {
    background: #FA9746;
    border-radius: 5px
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #FA9746;
    border-radius: 5px
  }
  
  body {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    color: #192d50;
  }
  
  
  #companySVG,
  .companySVG {
    text-align: center;
  }
  
  .JobHeader h1 {
    text-align: center;
    font-size: 2.2rem;
    font-weight: 400;
    padding: 0.9rem 0;
  }
  .JobHeader h5 {
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    padding: 0.5rem;
  }
  main {
    width: 70%;
    margin: 0 auto;
    position: relative;
  }
  .details {
    position: absolute;
    list-style: none;
    width: 60%;
    height: fit-content;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 1.25rem;
    font-size: 1rem;
    margin: 1rem;
    padding: 1rem;
    margin-top: 1.25rem;
    position: absolute;
    margin-left: 1rem;
    background-color: #EAF3FA;
    text-align: justify;
    
  }
  .details ol,
  .details ul {
    margin: 0.2rem;
    list-style-position: inside;
  }
  .details li{
    text-align: justify;
    width: 80%;
    margin-bottom: 1.1rem;
  }
  
  .sideBar {
    display: inline-block;
    position: absolute;
    list-style: none;
    height: 400px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 20px;
    font-size: 16px;
    margin: 16px;
    padding: 15px;
    margin-top: 20px;
    background-color: #EAF3FA;
    right: 0;
    margin-right: 0;
    width: 35%;
  }
  .titleAndValueDiv{
      margin: 2rem 0.2rem;
  }
  .titleAndValueDiv h5{
      font-size: smaller;
      font-weight: 400;
      padding-bottom: 0.2rem;
  }
  .titleAndValueDiv , .details h6{
      font-size: large;
      font-weight: bold;
  
  }
  .details h4{
      font-size: larger;
      padding-bottom: 2rem;
  }
  
  
  .applyBtn button{
      
      background-color: burlywood;
      margin-top: 2rem;
      padding: 1rem;
      margin-left: 70%;
      margin-bottom: 3%;
      height: 50px;
      width: 100px;
      border-radius: 50px;
      background-color: #FA9746;
      outline: none;
      border-style: none;
      color: white;
      font-size: 18px;
  
  }
  
      li {
          text-indent: -1.3em;
          padding-left: 3em;
      }
      
      button {
          position: relative;
          margin: 10px;
          margin-left: 80px;
          margin-right: 10px;
          border-radius: 20px;
          width: 100px;
          height: 30px;
          font-size: 12px;
          color: rgb(234, 243, 250);
          cursor: pointer;
          border: none;
          outline: none;
          background: #FA9746;
          overflow: hidden;
      }
      
      button:hover {
          transition: 0.3s ease-in;
          background: transparent;
          border: 1px solid rgb(138, 177, 244);
          color: #8CB3F4;
          transform: scale(1.2);
      }
      
      button:focus {
          color: #8CB3F4;
          border: 1px solid #8CB3F4;
          background: #EAF3FA;
      }
      .details h6{
        font-weight: 400;
      }
  /* Light Blue: #EAF3FA
     medim blue: #8CB3F4
     Dark blue: #2B468B
     darker blue : #192D50
     Orange : #FA9746
  
  */
  
  