* {
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 400;
}

/* SCROLL BAR */
::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollable-thumb {
    background: #FA9746;
    border-radius: 5px
}

::-webkit-scrollbar-thumb:hover {
    background: #FA9746;
    border-radius: 5px
}

header {
    position: absolute;
    top: 10px;
    right: 5%;
    left: 40%;
    padding: 0;
    z-index: 2;
}

.navbar {
    overflow: hidden;
    display: inline;
    background-color: white;
}
.navbar-item {
    text-align: center;
    color: #192D50;
    font-size: 20px;
    display:inline-flex;
    padding: 14px 30px;
    text-decoration: none;
}

.navbar-item-span {
    text-align: center;
    color: #192D50;
    font-size: 20px;
    display:inline-flex;
    padding: 10px 30px;
    text-decoration: none;
    margin-left: 90px;
}
  
.navbar-item:hover, .navbar-item-span:hover {
    /* background-color: #FA9746; */
    /* color: white; */
    text-decoration: none;
    color: #EAF3FA;
    transition: 0.3s ease-in;
    /* border-radius: 50px; */
}


.navbar .logo img{ 
    position:absolute;
    width: 200px;
}

.navbar .logo{
    padding-left: 40px;
}


.navbar-items{
    position: absolute;
    margin-left: 500px;
    padding-top: 5px;
}

.custom-shape-divider-top-1612286857 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1612286857 svg {
    position: relative;
    display: block;
    width: calc(214% + 1.3px);
    height: 500px;
    transform: rotateY(180deg);
}

.custom-shape-divider-top-1612286857 .shape-fill {
    fill: #8CB3F4;
}

.home-img {
    margin-left: 660px;
    margin-top: 190px;
    height: 450px;
    width: 650px;
    position: absolute;
}

.join {
    position: absolute;
    margin-top: 440px;
    margin-left: 260px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #192D50;
    font-size: 20px;
    
}

.join button {
    height: 50px;
    width: 100px;
    border-radius: 50px;
    background-color: #FA9746;
    outline: none;
    border-style: none;
    color: white;
    font-size: 18px;
}

.join .join-button{
    margin-left: 90px;
}
.shape {
    width: 100%;
}

.logo {
    margin-left: 25px;
    position: absolute;
}

.logo img {
    width: 200px;
}

/* Navigation 1*/
.navLinks1 {
    width: 100%;
    position: absolute;
    right: 10%;
    top: 25%;
    bottom: 25%;
    list-style: none;
}

.navLinks1 a {
    vertical-align: text-bottom;
    font-size: 20px;
    color: #192D50;
    text-decoration: none;
    padding: 10px
}

.navLinks1 li {
    display: inline-block;
    margin-top: 10px;
    margin-right: 25px;
}

.navLinks1 li a:hover {
    color: #EAF3FA;
    transition: 0.3s ease-in;
}

/* Dropdown */
.navLinks1 ul li ul {
    list-style-type: none;
    display: none;
    position: absolute;
    top: 40px;
}

.navLinks1 ul li:hover ul {
    display: block;
}

.navLinks1 ul {
    margin-left: 25px;
    padding: 5px;
    width: 90px;
    margin-top: 5px;
    border-radius: 0 25% 25% 25%;
    backdrop-filter: blur(0.5rem);
    background: rgba(239, 247, 252, 0.5);
    box-shadow: 5px 3px 3px rgba(43, 70, 139, 0.1);
}

.navLinks1 ul li {
    float: none;
    padding: 5px;
    display: list-item;
    position: relative;
}

/* Dropdown */
.navLinks1 li ul li a {
    font-size: 14px;
    vertical-align: text-top;
    margin: 0;
    padding: 0;
}

.navLinks1 ul li {
    font-size: 16px;
    display: list-item;
    margin: 0;
    padding: 10px;
}

.navLinks1 ul li:hover ul {
    display: block;
}

.navLinks1 ul li :hover {
    color: #FA9746;
    transition: 0.3s ease-in;
}


/* Navigation2 */
.navLinks2 {
    position: absolute;
    right: 0;
    top: 25%;
    bottom: 25%;
    list-style: none;
}

.navLinks2 svg {
    padding-bottom: 0;
    padding-top: 5px;
    fill: #2B468B;
}

.navLinks2 svg:hover {
    transform: scale(1.2);
    fill: #EAF3FA;
    transition: 0.3s ease-in;
}

.navLinks2 a {
    vertical-align: text-top;
    font-size: 14px;
    color: #192D50;
    text-decoration: none;
}

.navLinks2 li {
    display: inline-block;
    margin-top: 0;
}

.navLinks2 li a {
    padding: 10px
}

/* Dropdown */
ul li ul {
    list-style-type: none;
    display: none;
    position: absolute;
    top: 40px;
}

ul li:hover ul {
    display: block;
}

.navLinks2 ul {
    margin-left: 25px;
    padding: 5px;
    border-radius: 0 25% 25% 25%;
    backdrop-filter: blur(0.5rem);
    background: rgba(239, 247, 252, 0.5);
    box-shadow: 5px 3px 3px rgba(43, 70, 139, 0.1);
}

.navLinks2 ul li {
    float: none;
    padding: 5px;
    display: list-item;
    position: relative;

}

.navLinks2 ul li :hover {
    transition: 0.3s ease-in;
    color: #FA9746;
}

.category h4 {
    font-size: 10px;

}



* {
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 400;
}

/* SCROLL BAR */
::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollable-thumb {
    background: #FA9746;
    border-radius: 5px
}

::-webkit-scrollbar-thumb:hover {
    background: #FA9746;
    border-radius: 5px
}

header {
    position: absolute;
    top: 10px;
    right: 5%;
    left: 40%;
    padding: 0;
    z-index: 2;
}

.navbar {
    overflow: hidden;
    display: inline;
    background-color: white;
}
.navbar-item {
    text-align: center;
    color: #192D50;
    font-size: 20px;
    display:inline-flex;
    padding: 14px 30px;
    text-decoration: none;
}

.navbar-item-span {
    text-align: center;
    color: #192D50;
    font-size: 20px;
    display:inline-flex;
    padding: 10px 30px;
    text-decoration: none;
    margin-left: 90px;
}
  
.navbar-item:hover, .navbar-item-span:hover {
    /* background-color: #FA9746; */
    /* color: white; */
    text-decoration: none;
    color: #EAF3FA;
    transition: 0.3s ease-in;
    /* border-radius: 50px; */
}


.navbar .logo img{ 
    position:absolute;
    width: 200px;
}

.navbar .logo{
    padding-left: 40px;
}


.navbar-items{
    position: absolute;
    margin-left: 500px;
    padding-top: 5px;
}

.custom-shape-divider-top-1612286857 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1612286857 svg {
    position: relative;
    display: block;
    width: calc(214% + 1.3px);
    height: 500px;
    transform: rotateY(180deg);
}

.custom-shape-divider-top-1612286857 .shape-fill {
    fill: #8CB3F4;
}

.home-img {
    margin-left: 660px;
    margin-top: 190px;
    height: 450px;
    width: 650px;
    position: absolute;
}

.join {
    position: absolute;
    margin-top: 440px;
    margin-left: 260px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #192D50;
    font-size: 20px;
    
}

.join button {
    height: 50px;
    width: 100px;
    border-radius: 50px;
    background-color: #FA9746;
    outline: none;
    border-style: none;
    color: white;
    font-size: 18px;
}

.join .join-button{
    margin-left: 90px;
}
.shape {
    width: 100%;
}

.logo {
    margin-left: 25px;
    position: absolute;
}

.logo img {
    width: 200px;
}

/* Navigation 1*/
.navLinks1 {
    width: 100%;
    position: absolute;
    right: 10%;
    top: 25%;
    bottom: 25%;
    list-style: none;
}

.navLinks1 a {
    vertical-align: text-bottom;
    font-size: 20px;
    color: #192D50;
    text-decoration: none;
    padding: 10px
}

.navLinks1 li {
    display: inline-block;
    margin-top: 10px;
    margin-right: 25px;
}

.navLinks1 li a:hover {
    color: #EAF3FA;
    transition: 0.3s ease-in;
}

/* Dropdown */
.navLinks1 ul li ul {
    list-style-type: none;
    display: none;
    position: absolute;
    top: 40px;
}

.navLinks1 ul li:hover ul {
    display: block;
}

.navLinks1 ul {
    margin-left: 25px;
    padding: 5px;
    width: 90px;
    margin-top: 5px;
    border-radius: 0 25% 25% 25%;
    backdrop-filter: blur(0.5rem);
    background: rgba(239, 247, 252, 0.5);
    box-shadow: 5px 3px 3px rgba(43, 70, 139, 0.1);
}

.navLinks1 ul li {
    float: none;
    padding: 5px;
    display: list-item;
    position: relative;
}

/* Dropdown */
.navLinks1 li ul li a {
    font-size: 14px;
    vertical-align: text-top;
    margin: 0;
    padding: 0;
}

.navLinks1 ul li {
    font-size: 16px;
    display: list-item;
    margin: 0;
    padding: 10px;
}

.navLinks1 ul li:hover ul {
    display: block;
}

.navLinks1 ul li :hover {
    color: #FA9746;
    transition: 0.3s ease-in;
}


/* Navigation2 */
.navLinks2 {
    position: absolute;
    right: 0;
    top: 25%;
    bottom: 25%;
    list-style: none;
}

.navLinks2 svg {
    padding-bottom: 0;
    padding-top: 5px;
    fill: #2B468B;
}

.navLinks2 svg:hover {
    transform: scale(1.2);
    fill: #EAF3FA;
    transition: 0.3s ease-in;
}

.navLinks2 a {
    vertical-align: text-top;
    font-size: 14px;
    color: #192D50;
    text-decoration: none;
}

.navLinks2 li {
    display: inline-block;
    margin-top: 0;
}

.navLinks2 li a {
    padding: 10px
}

/* Dropdown */
ul li ul {
    list-style-type: none;
    display: none;
    position: absolute;
    top: 40px;
}

ul li:hover ul {
    display: block;
}

.navLinks2 ul {
    margin-left: 25px;
    padding: 5px;
    border-radius: 0 25% 25% 25%;
    backdrop-filter: blur(0.5rem);
    background: rgba(239, 247, 252, 0.5);
    box-shadow: 5px 3px 3px rgba(43, 70, 139, 0.1);
}

.navLinks2 ul li {
    float: none;
    padding: 5px;
    display: list-item;
    position: relative;

}

.navLinks2 ul li :hover {
    transition: 0.3s ease-in;
    color: #FA9746;
}

.category h4 {
    font-size: 10px;

}
/*FOOTER*/
.footer {
    position: absolute;
    top: auto;
    margin: 0;
    padding: 0;
    width: 100%;
    display: inline-block;
    overflow-x: hidden;
}

.shape-footer {
    transform: rotateX(180deg);
}

.footer-content {
    position: absolute;
    z-index: 2;
    width: 100%;
    margin-top: 95px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
    color: #192D50;
    left: 40%;
    right: 40%;
    display: inline-flex;
}

.footer-content p {
    display: block;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: #192D50;
}

.footer-content h4 {
    position: absolute;
    top: 30px;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.footer-content span {
    margin: 0;
    padding-left: 10px;
    text-decoration: none;
    color: #192D50;
}

.footer-content span:hover {
    color: #EAF3FA;
    transform: scale(1.1);
    transition: 0.3s ease-in;
}
* {
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 400;
}

/* SCROLL BAR */
::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollable-thumb {
    background: #FA9746;
    border-radius: 5px
}

::-webkit-scrollbar-thumb:hover {
    background: #FA9746;
    border-radius: 5px
}


h1 {
    padding-bottom: 10px;
    text-align: center;
    color: #2B468B;
    font-style: oblique;
    font-weight: 500;
    font-size: 32px;

}

.line {
    position: relative;
    background-color: #FA9746;
    width: 200px;
    height: 2px;
    right: 43%;
    left: 43%;

}

main {
    display: flex;
    margin-top: 0;
    justify-content: center;
    align-items: center;
}

.lists {
    margin-top: 10px;
    margin-left: 50px;
    margin-right: 50px;
    display: flex;

    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.list {
    display: flex;
    min-width: fit-content;
    height: fit-content;
    background: rgba(234, 243, 250, 0.8);
    margin-bottom: 20px;
    border-radius: 25px;
    box-shadow: 5px 3px 3px rgba(43, 70, 139, 0.1);
    padding: 3rem;
}


/*JOB DESCRIPTION*/
.jonInfo {
    float: left;
    padding-bottom: 25px;
}

h2,
.jonInfo p,
h6,
h5 {
    color: #192D50;
    text-align: left;
}

.jobDescription {
    font-size: 20px;
    width: 650px;
    height: 50px;
    white-space: wrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 10px;
}

.applicantDescription {
    font-size: 20px;
}

.applicantProfile {
    font-weight: 500;
    font-size: 24px;
}

h2 {
    font-weight: 500;
    font-size: 24px;
    margin-top: 25px;
    margin-left: 0;
}

h6 {
    margin-top: 15px;
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
    vertical-align: top;
    font-size: 14px;
}

h5 {
    display: inline-block;
    margin-top: 10px;
    font-weight: 500;
    font-size: 16px;
}

.salary {
    font-size: 16px;
}

div svg {
    fill: rgb(250, 151, 70);
    vertical-align: bottom;
}

.defaultCompany {
    margin-top: 25px;
    margin-left: 25px;
    margin-right: 25px;
    width: 150px;
}

.location,
.major,
.work {
    display: inline-block;
    clear: both;
}

.workIcon {
    margin-left: 3%;
}

.location {
    margin-right: 20px;
}

.work {
    margin: 0;
    vertical-align: text-top;
    font-size: 14px;
}

.defaultCompany {
    margin-top: 25px;
    margin-left: 25px;
    margin-right: 25px;
    width: 150px;
}

.delete {
    position: relative;
    margin: 10px;
    cursor: pointer;
    width: 36px;
    height: 36px;
}

/******** Buttons ********/
button {
    display: block;
    position: relative;
    margin: 10px;
    margin-left: 80px;
    margin-right: 10px;
    border-radius: 20px;
    width: 100px;
    height: 30px;
    font-size: 12px;
    color: rgb(234, 243, 250);
    cursor: pointer;
    border: none;
    outline: none;
    background: #FA9746;
    overflow: hidden;
}

button:hover {
    transition: 0.3s ease-in;
    background: transparent;
    border: 1px solid rgb(138, 177, 244);
    color: #8CB3F4;
}

button:focus {
    color: #8CB3F4;
    border: 1px solid #8CB3F4;
    background: #EAF3FA;
}

.applicants,
.accept {
    margin-top: 75px;
    text-decoration: none;
    color: #EAF3FA;
}

a {
    text-decoration: none;
}

.applicantProfile {
    color: #192D50;
    cursor: pointer;
}

.applicantProfile:hover {
    color: #FA9746;
}

.applicantProfile:visited,
.applicantProfile:active {
    color: #192D50;
}
