* {
  margin: 0;
  padding: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: 400;
}

/* SCROLL BAR */
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollable-thumb {
  background: #FA9746;
  border-radius: 5px
}

::-webkit-scrollbar-thumb:hover {
  background: #FA9746;
  border-radius: 5px
}


form {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  direction: ltr;
  color: #192d50;
  display: block;
  background-color: #eaf3fa;
  border: 1px solid #eaf3fa;
  width: 45%;
  padding: 1.5em;
  text-align: justify;

  padding-left: 1.5em;
  border-radius: 2.5em;
  margin-left: auto;
  margin-right: auto;
}
fieldset {
  position: relative;
}
legend.postLegend {
  font-size: x-large;
  font-weight: bolder;
  margin-bottom: 1em;
}

textarea {
  display: block;
  position: relative;
  resize: none;
  height: 5em;
  width: 100%;
}
fieldset {
  border: none;
}

.inputDiv {
  margin-bottom: 0.65em;
}
input[type="text"],
textarea,
select,
input[type="number"],
option {
  width: 100%;
  padding: 0.2em;
  border: 0px;
  border-radius: 0.4em;
}
label {
  display: block;
  margin-bottom: 0.25em;
  font-weight: 500;
}
label.rLabel {
  display: inline;
  margin: 0 0.34em;
  font-weight: 400;
}
input[type="text"],
select {
  width: 100%;
}

input[type="number"] {
  width: 100%;
}
#SalaryL {
  text-align: left;
}
legend {
  font-weight: 500;
  margin: 0;
  padding: 0;
  margin-bottom: 0.1em;
}

INPUT[TYPE="button"],
input[type="submit"] {
  position: relative;
  display: inline;
  border-radius: 20px;
  width: 41%;
  margin-left: 5%;
  height: 30px;
  font-size: 12px;
  color: rgb(234, 243, 250);
  cursor: pointer;
  border: none;
  outline: none;
  background: #fa9746;
  overflow: hidden;
}

input[type="button"]:hover,
input[type="submit"]:hover {
  transition: 0.3s ease-in;
  background: transparent;
  border: 1px solid rgb(138, 177, 244);
  color: #8cb3f4;
  transform: scale(1.2);
}

INPUT[TYPE="button"]:focus,
input[type="submit"]:focus {
  color: #8cb3f4;
  border: 1px solid #8cb3f4;
  background: #eaf3fa;
}
/*
Job Details */

.JobHeader {
  position: relative;
  height: 20%;
  width: 100%;
  text-align: center;
  border: 3px solid black;
}
.sidebarInfo {
  display: block;
  position: absolute;
  border: 3px solid black;
  height: 500px;
  width: 500px;
  transform: translateX(90%);
  transform: translateY(-70%);
}
/* Light Blue: #EAF3FA
   medim blue: #8CB3F4
   Dark blue: #2B468B
   darker blue : #192D50
   Orange : #FA9746

*/



/*FOOTER*/
.footer {
  position: absolute;
  top: auto;
  margin: 0;
  padding: 0;
  width: 100%;
  display: inline-block;
  overflow-x: hidden;
}

.shape-footer {
  transform: rotateX(180deg);
}

.footer-content {
  position: absolute;
  z-index: 2;
  width: 100%;
  margin-top: 95px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 16px;
  color: #192D50;
  left: 40%;
  right: 40%;
  display: inline-flex;
}

.footer-content p {
  display: block;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: #192D50;
}

.footer-content h4 {
  position: absolute;
  top: 30px;
  font-size: 16px;
  font-weight: 400;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.footer-content span {
  margin: 0;
  padding-left: 10px;
  text-decoration: none;
  color: #192D50;
}

.footer-content span:hover {
  color: #EAF3FA;
  transform: scale(1.1);
  transition: 0.3s ease-in;
}